Options +FollowSymLinks

RewriteEngine On
RewriteCond %{HTTP_HOST} ^backend.edmcompany.co.th [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|document)
RewriteRule ^(.*)$ index.php/$1 [L]